:root {
    --primary-color: #43CD80;
    --background-color: black;
    --font-family: 'VT323', monospace;
    --border-width: 4px;
    --hover-color: #3CB371;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
}

.contacts-page {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #222;
    border-right: var(--border-width) solid var(--primary-color);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar .logo a {
    font-size: 36px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-list {
    flex-grow: 1;
    overflow-y: auto;
}

.contact {
    padding: 15px;
    border-bottom: var(--border-width) solid var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact:hover {
    background-color: var(--hover-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact.active {
    background-color: var(--hover-color);
    border-left: 4px solid #fff;
}


.last-message {
    font-size: 16px;
    color: #bbb;
}

.chat-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}

.chat-header {
    padding: 15px;
    border-bottom: var(--border-width) solid var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    font-size: 18px;
    word-wrap: break-word;
}

.received {
    background-color: #333;
    align-self: flex-start;
}

.sent {
    background-color: var(--primary-color);
    color: var(--background-color);
    align-self: flex-end;
}

.chat-input {
    display: flex;
    align-items: center;
}

.chat-input input {
    background-color: #222;
    color: var(--primary-color);
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.chat-input .send-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chat-input .send-btn:hover {
    background-color: var(--hover-color);
}
